table {
  margin: 15px;
  border-collapse: collapse;
  float: left;
  td {
    border: 1px solid #886;
    font-size: 22px;
    font-weight: bold;
    line-height: 36px;
    width:36px;
    height:36px;
    vertical-align: middle;
    text-align: center;
  }
}
